*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

/* Style for background color */
#container {
  /* Blue n black sky */
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%) !important;   
  /* background: radial-gradient(ellipse at bottom, #fd163d 0%, #2b0101 100%) !important; */
}

#title span {
  background: linear-gradient(to right, rgb(100, 81, 2), gold , rgb(252, 236, 149), gold , rgb(100, 81, 2) );
  text-shadow: 0px 0px 10px black;
  font-weight: 400;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#title {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#description span {
  background: -webkit-linear-gradient(gold,white);
  text-shadow: 0px 0px 7px black;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#description {
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: -60px;
  padding-left: 10px;
  
}

#btn {
  position: absolute;
  bottom: 15%;
  width: 30%;
  margin-left: -15%;
  left: 50%;
  height: 3em;
  border-radius: 20px;
  border: double 2px transparent;
  align-items: center;
  justify-content: center;
  background-image:
  /* Blue sky */
  linear-gradient(to bottom, #1b2735 0%, #121a24 100%),
  linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  
  /* Christmas sky */
  /* linear-gradient(to bottom, #cf0d37 0%, #361c1c 100%), */
  /* linear-gradient(to bottom right, #F5624D 0%, #CC231E 25%, #34A65F 50%,  #235E6F 100%); */
  box-shadow: 0px 0px 20px 0px whitesmoke;

  background-origin: border-box;
  background-clip: content-box, border-box;  
}

#btn:hover {
  background-image:
   /* Blue sky */
  linear-gradient(to bottom, #1b2735 100%, #121a24 0%),
  linear-gradient(to top left, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    
  /* Christmas sky */
  /* linear-gradient(to top, #cf0d37 0%, #361c1c 100%),
  linear-gradient(to top left, #F5624D 0%, #CC231E 25%, #34A65F 50%, #0F8A5F 75%, #235E6F 100%); */
  
}

#btntext {
  color: whitesmoke;
  color: goldenrod;
  text-shadow: 0px 0px 7px black;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-style: italic;
  text-decoration: none;
  vertical-align: center;
  /* padding-top: 2%; */
  /* left: 46%; */
  flex:auto;
  text-align: center;
  /* margin-left: -55px; */
  /* margin-top: 3px; */
  /* position: absolute; */
}


.parallax-effect-bg {
  transform-style: preserve-3d;
  transform: perspective(1000px);
  /* background-image: url('./img/background.jpg');
  background-size: contain;
  background-repeat: no-repeat; */
}

  .inner-element1 {
    transform: translateZ(40px) scale(0.8);
    /* width: 70%; */
    /* margin-left: 25%; */
  }

  .inner-element2 {
    transform: translateZ(50px) scale(0.8);
    /* width: 70%; */
    /* margin-left: 25%; */
  }

  .inner-text-element {
    transform: translateZ(50px) scale(0.9);
    /* width: 70%; */
    /* margin-left: 25%; */
  }















.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
