*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#container {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%) !important;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#title {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#description span {
  background: -webkit-linear-gradient(red,white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#description {
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: -60px;
  padding-left: 10px;
}

#btn {
  position: absolute;
  bottom: 15%;
  width: 30%;
  margin-left: -15%;
  left: 50%;
  height: 3em;
  border-radius: 20px;
  border: double 2px transparent;
  background-image:
  linear-gradient(to bottom, #1b2735 0%, #121a24 100%),
  linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#btn:hover {
  background-image:
  linear-gradient(to bottom, #1b2735 100%, #121a24 0%),
  linear-gradient(to top left, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  /* border-width: 4px; */
}

#btntext {
  color: whitesmoke;
  letter-spacing: 2px;
  font-style: italic;
  text-decoration: none;
  /* vertical-align: center; */
  /* padding-top: 2%; */
  left: 50%;
  margin-left: -55px;
  margin-top: 3px;
  position: absolute;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
